* {
  padding: 0;
  margin: 0;
}

body {
  width: 160px;
}

a {
  padding: 12px;
  display: block;
  color: #000;
  text-align: center;
  font-size: 16px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #00f;
}

/* a.disabled:hover {
  cursor: default;
  color: initial;
  text-decoration: none;
} */
